# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import pprint
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [28]:
city_data = pd.read_csv("output_data/cities.csv")
city_data

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,port keats,59.7035,30.7861,-4.00,86,75,2.00,RU,1612064567
1,1,hurghada,51.7350,39.1496,2.00,93,90,9.00,RU,1612064963
2,2,coahuayana,-14.2500,129.5500,26.49,88,100,4.96,AU,1612064963
3,3,itarema,70.6333,147.9167,-34.56,85,0,3.86,RU,1612064589
4,4,arteaga,-37.8333,140.7667,21.00,49,40,3.60,AU,1612064963
...,...,...,...,...,...,...,...,...,...,...
557,557,vetrisoaia,-3.4320,10.6554,25.14,87,100,0.87,GA,1612064863
558,558,kuito,69.6496,18.9570,-5.56,92,20,0.83,NO,1612064896
559,559,ahipara,49.0167,131.7000,-22.28,80,2,2.87,RU,1612065014
560,560,gudari,46.0078,15.3156,1.11,93,90,5.14,SI,1612065014
561,561,fenoarivo,20.1333,78.3167,21.63,19,59,3.88,IN,1612065014

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [29]:
gmaps.configure(api_key = g_key)

In [31]:
humidity = city_data["Humidity"]
locations = city_data[["Lat","Lng"]]
fig=gmaps.figure()
heatmap = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False, point_radius = 5, max_intensity = 300)
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [32]:

narrow_down_city = city_data.loc[(city_data["Max Temp"]<80) \
                                 & (city_data["Max Temp"]>30) \
                                 & (city_data["Wind Speed"]<10) \
                                 & (city_data["Cloudiness"]==0)].dropna()
narrow_down_city

# # City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
89,89,tromso,-33.6500,115.3333,30.15,28,0,2.00,AU,1612064563
123,123,naze,-25.2986,152.8535,31.67,42,0,7.72,AU,1612064973
338,338,hambantota,-28.7667,114.6000,40.00,15,0,7.72,AU,1612064860
357,357,avarua,-36.0833,146.9167,32.22,25,0,3.60,AU,1612064938

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [33]:
hotel = narrow_down_city[["City","Country","Lat","Lng"]].copy()
hotel["Hotel Name"] = ""
hotel

           City Country      Lat       Lng Hotel Name
89       tromso      AU -33.6500  115.3333
123        naze      AU -25.2986  152.8535
338  hambantota      AU -28.7667  114.6000
357      avarua      AU -36.0833  146.9167

In [35]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

for index,row in hotel.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    address = requests.get(base_url, params = params, verify=False).json()
#     print(address)
#     print(address["results"])
    
    
#     if index ==89:
#         pprint(address)
    
    try:
        hotel.loc[index, "Hotel Name"] = address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'maps.googleapis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'maps.googleapis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'maps.googleapis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(
/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/urllib3/connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'maps.googleapis.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  warnings.warn(

           City Country      Lat       Lng                      Hotel Name
89       tromso      AU -33.6500  115.3333         Observatory Guest House
123        naze      AU -25.2986  152.8535               Shelly Bay Resort
338  hambantota      AU -28.7667  114.6000       Broadwater Mariner Resort
357      avarua      AU -36.0833  146.9167  Albury Georgian Motel & Suites

In [38]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel.iterrows()]
hotel_info
locations = hotel[["Lat", "Lng"]]
locations

         Lat       Lng
89  -33.6500  115.3333
123 -25.2986  152.8535
338 -28.7667  114.6000
357 -36.0833  146.9167

In [39]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# Display figure
fig

Figure(layout=FigureLayout(height='420px'))